body,
#app {
  height: 100%;
  margin: 0;
}


*::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Cor da barra de rolagem no Chrome/Safari */
}


body {
  overflow: auto;
  /* Pode ser 'scroll' ou 'auto' */
}

body::-webkit-scrollbar {
  display: none;
  /* Esconde as barras de rolagem no Chrome, Safari e Edge */
}